@using ClaimReq.Models
@model System.Collections.Generic.KeyValuePair<string, Claim>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            @Model.Value.FirstName @Model.Value.LastName
            @Html.ActionLink("[Edit]", "Edit", new { id = Model.Key })
            @Html.ActionLink("[Delete]", "Delete", new { id = Model.Key }, new { @class = "deleteProfile" })
        </h2>
    </div>
    <div class="panel-body">
        Username: @Model.Key
        @if (Model.Value.IsResolved)
        {
        <form>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label" for="customCheck">Check this custom checkbox</label>
            </div>
        </form>
        }
    </div>
</div>
