@using ClaimReq.Models
@model System.Collections.Generic.KeyValuePair<string, Claim>

    <tr>
        <td>
            @Html.DisplayFor(m => m.Value.VideoInfo.Id)
        </td>
        <td>
            @Html.DisplayFor(m => m.Value.VideoInfo.Title)
        </td>
        <td>
            @Html.DisplayFor(m => m.Value.Description)
        </td>
        <td>
            @Html.DisplayFor(m => m.Value.Date)
        </td>
        <td>

            <div class="custom-control custom-checkbox mb-3">
                @Html.CheckBoxFor(m => m.Value.IsResolved, new { id = "customCheckDisabled", @checked = "checked", @class = "custom-control-input" })
                <label class="custom-control-label" for="customControlValidation1"></label>
                <div class="invalid-feedback">Example invalid feedback text</div>
            </div>
        </td>
        <td>
            <i class="fas fa-edit"></i> @Html.ActionLink("Edit", "Edit", new { id = Model.Key })
            &nbsp;
            &nbsp;
            <i class="fas fa-trash-alt"></i> @Html.ActionLink("Delete", "Delete", new { id = Model.Key }, new { @class = "deleteProfile" })
        </td>
        <td></td>
    </tr>