@using Microsoft.AspNetCore.Mvc.Rendering
@model System.Collections.Generic.KeyValuePair<string, ClaimReq.Models.Claim>

@{
    ViewBag.Title = "Add : Claim";
}

@using (Html.BeginForm("Save", "Home", FormMethod.Post))
{

    if (!string.IsNullOrEmpty(Model.Key))
    {
        <input type="hidden" name="Key" value="@Model.Key" />
        <p>
            Username: <strong>@Model.Key</strong>
        </p>
    }
    else
    {
        <p>
            @Html.LabelFor(m => m.Key, "Username")
            @Html.TextBoxFor(m => m.Key)
        </p>
    }

    <p>
        @Html.LabelFor(m => m.Value.FirstName, "First Name")
        @Html.TextBoxFor(m => m.Value.FirstName)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.LastName, "Last Name")
        @Html.TextBoxFor(m => m.Value.LastName)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.VideoTitle, "Video Title")
        @Html.TextBoxFor(m => m.Value.VideoTitle)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.VideoUrl, "Video Url")
        @Html.TextBoxFor(m => m.Value.VideoUrl)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.VideoId, "Video Id")
        @Html.TextBoxFor(m => m.Value.VideoId)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.VideoCategory, "Video Category")
        @Html.TextBoxFor(m => m.Value.VideoCategory)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.VideoDescription, "Video Description")
        @Html.TextBoxFor(m => m.Value.VideoDescription)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.VideoTags, "Video Tags")
        @Html.TextBoxFor(m => m.Value.VideoTags)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.VideoDatePublished, "Video Date Published")
        @Html.TextBoxFor(m => m.Value.VideoDatePublished)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.VideoChannelTitle, "Video ChannelTitle")
        @Html.TextBoxFor(m => m.Value.VideoChannelTitle)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.altUrlUpload, "Alt Url")
        @Html.TextBoxFor(m => m.Value.altUrlUpload)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.Description, "Description")
        @Html.TextBoxFor(m => m.Value.Description)
    </p>

    <p>
        @Html.LabelFor(m => m.Value.Date, "Date")
        @Html.TextBoxFor(m => m.Value.Date)
    </p>

    <p>

        @if (!string.IsNullOrEmpty(Model.Key))
        {
            @*@Html.LabelFor(m => m.Value.IsResolved, "Resolved")
                @Html.CheckBoxFor(m => m.Value.IsResolved, new { @checked = "checked" })*@

           
        <div class="custom-control custom-checkbox mb-3">
            @Html.CheckBoxFor(m => m.Value.IsResolved, new { id="customControlValidation1", @checked = "checked", @class="custom-control-input" })
            <label class="custom-control-label" for="customControlValidation1">Resolved</label>
            <div class="invalid-feedback">Example invalid feedback text</div>
        </div>
      
        }


    </p>


    <input type="submit" value="Submit" />
}
