@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@model System.Collections.Generic.Dictionary<string, ClaimReq.Models.Claim>

@{
    ViewBag.Title = "Home";
}

@if (!Model.Any())
{
    <p>There are no claims.</p>
}

<table id="tableClaims" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Values.ElementAt(0).VideoId)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Values.ElementAt(0).VideoTitle)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Values.ElementAt(0).Description)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Values.ElementAt(0).Date)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Values.ElementAt(0).IsResolved)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            @Html.Partial("_claim", item)
        }
    </tbody>
</table>


@section Scripts {
    <script type="text/javascript">
        $(function () {
             var table = $("#tableClaims").DataTable();
            $(".deleteProfile").click(function (e) {
                if (confirm("Are you sure you want to delete?")) {
                    return true;
                }
                return false;
            });
        });
    </script>
}

